node_modules
.vscode
_site
.cache
.DS_Store
_data/envlocal.json
.env
/assets/___dummy_content
/some_offline_stuff
hello-page.md
hello-child.md
hello-grandchild.md
hello-post.md
hello-world.md
favicon.png
/assets/myfavicon.png
LICENSE
README.md